@model Bloodpressure_UI.Models.Bloodpressure

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bloodpressure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Systolic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Systolic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diastolic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diastolic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Heartrate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Heartrate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
